.main {
  margin-top: 20px;
  padding: 0 16px 0 16px;
  background-color: white;
  height: 400px;
  overflow-y: auto;
}

.status {
  padding: 1px 6px;
  border-radius: 12px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.tipoCell {
  display: inline-block;
  width: 30px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 6px;
}

.tipoCellIncidente {
  background-color: purple;
  color: white;
}

.tipoCellControl {
  background-color: #0078d4;
  color: white;
}

.tipoCellPrevencion {
  background-color: darkcyan;
  color: white;
}

.tipoCellSinTipo {
  background-color: rgb(255, 44, 44);
  color: white;
}

.centeredCell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ms-DetailsHeader-cellName,
.ms-DetailsHeader-cellTitle,
.centeredHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonStyle {
  margin-left: 10px;
  background-color: #0078d4 !important;
  border-radius: 15px !important;
  border: none !important;
  color: white !important;
}

.buttonStyleModal {
  background-color: #0078d4 !important;
  border: none !important;
  color: white !important;
}

.containerModal {
  padding: 20px;
  width: fit-content;
  box-shadow:
    0px 0.6px 1.8px rgba(0, 0, 0, 0.1),
    0px 3.2px 7.7px rgba(0, 0, 0, 0.132);
}

.ModalFooter {
  justify-content: end;
  margin-top: 0.5rem;
}