.Container {
  width: 100%;
  background-color: #ccf2fe;
  padding: 20px;
}

.Label {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.Asterisco {
  color: red;
  margin-left: 4px;
}

.DropdownContainer {
  background-color: #ccf2fe;
  max-width: 600px;
  padding: 20px 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.Dropdown {
  width: 100%;
}

.errorText {
  color: red;
  font-size: 0.875em;
  padding-top: 60px;
  position: absolute;
}
