.gridContainer1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px 10px;
  padding-bottom: 20px;
}
.gridContainer2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 10px;
  padding-bottom: 20px;
}
.gridContainer3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 10px;
  padding-bottom: 20px;
}
.gridContainer4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 10px;
  padding-bottom: 20px;
}

.dropdown,
.textField,
.datePicker,
.choiceGroup {
  width: 100%;
}

.dateTimeContainer {
  display: flex;
  gap: 10px;
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.requiredLabel {
  box-shadow: none;
  margin: 0px;
  padding: 5px 0px;
  box-sizing: border-box;
  font-family:
    "Segoe UI",
    "Segoe UI Web (West European)",
    "Segoe UI",
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 600;
  color: rgb(50, 49, 48);
  border-color: rgb(96, 94, 92);
  position: relative;
  outline: 0px;
  user-select: none;
}

.requiredLabel.showRequired::after {
  content: " *";
  color: red;
  margin-left: 4px;
}

.orderField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.errorText {
  color: red;
  font-size: 0.875em;
  margin-top: 65px;
  position: absolute;
}

.errorTextMed {
  color: red;
  font-size: 0.875em;
  margin-top: 95px;
  position: absolute;
}

.errorTextFecha {
  color: red;
  font-size: 0.875em;
  margin: 0px;
  position: absolute;
}

.choiceLabelContainer {
  display: flex;
  align-items: center;
}

.buttonStyle {
  background-color: #0078d4 !important; /* Azul de Fluent UI */
  border-radius: 15px !important; /* Bordes redondeados */
  border: none !important; /* Sin borde */
  color: white !important; /* Texto blanco */
  margin-left: 10px;
}
