.buttonStyle {
  margin-left: 10px;
  background-color: #0078d4 !important;
  border-radius: 15px !important;
  border: none !important;
  color: white !important;
}
.buttonStyleModal {
  background-color: #0078d4 !important;
  border: none !important;
  color: white !important;
}

.containerModal {
  padding: 20px;
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.1), 0px 3.2px 7.7px rgba(0, 0, 0, 0.132);
}

.modalButtons {
  justify-content: end;
}